.vistaPestana{
    height: 100%;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 50px;
}
.contenedorInfoPestana{
    margin-top: 5vh;
    display: flex;
    min-height: 400px;

}
.pestanasEventos{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.campoPestana{
    width: 100%;
    background-color: #fffffff2;
    height: 16.66%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #14365C;
    border: none;
    transition: border-width 0.3s ease, margin-right 0.3s ease;
}

.campoPestana:hover{
    width: 98%;
    border-right-width: 10px;
    border-right: 10px solid #B12B1A;
    color: #B12B1A;
    background-color: #f9fafadd;
}
.contenedorCamb{
    background-color: #FFFFFF;
    width: 70%;
    overflow-y: auto;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campoPestana.activo {
    width: 98%;
    border-right-width: 10px;
    border-right: 10px solid #B12B1A;
    color: #B12B1A;
    background-color: #f9fafadd;
    
}
.bordePersonalizado{
    border-top-left-radius: 2vh;
}
.bordePerzonalizadoBottom{
    border-bottom-left-radius: 2vh;
}

.cambioManu{
    margin-top: 3vh;
}

.botonesCambiar.activo {
    visibility: hidden;
  }