.contenedorSl{
    display: flex;
    overflow: hidden;
}
.botonSlider{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFD51D;
    font-size: 7rem;
    cursor: pointer;

}
.containerSlider{
    flex: 9;
    width: 60vw;
    height: 35vh;
    background-color: #fff;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    padding: 0 1.5vw;
    overflow: hidden;
    justify-content: space-between;
}