
.crearEventos {
    background-color: white;
    color: black;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.textoEvento{
    background-color: #14365C;
    color: white;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 1.7rem;
}
#entrada{
    border: 1px solid rgb(175, 175, 175);
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 2vh;
    border-radius: 5px;
    height: 36px;
}


#error {
    border: 2px solid red;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 2vh;
    border-radius: 5px;
    height: 36px;
    color: red;

}

.botonRegistrar{
    background-color: rgb(255, 213, 30);
    padding: 10px 15px;
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
}
.botonRegistrar:hover{
    background-color: rgb(219, 179, 0) ;
}
.botonRegistrar:active{
    background-color: rgb(255, 213, 0);
}

#textoCuadro {
    position: relative;
    font-size: 0.83rem;
    text-align: left;
    font-weight: bold;
    width: fit-content;
    margin-left: 1vw;
    margin-top: 4px;
    transform: translateY(-12px);
    background-color: white;
}

#inputRegistro{
    font-size: small;
    margin: 3px;
    width: 95%;
    padding: 2px;
    transform: translateY(-12px);
    outline: none;
}

#desplegable{
    font-size: small;
    margin: 3px;
    width: 95%;
    padding: 2px;
    transform: translateY(-12px);
    outline: none;
}
.tipoEvento2 {
    display: flex;
    flex-direction: column;
}

#interiorTipo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translateY(-12px);
}

#option {
    margin: 4px;
    width: 100%;
    outline: none;
}

.patrocinadores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.organizadores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#iconsImp {
    background-color: white;
    margin-right: 6px;
}

#entrada:focus-within {
    border: 2px solid blue;
    color: blue;
}

.advertencia {
    display: block;
    font-size: 0.75rem;
    margin-left: 5vw;
    margin-right: 4vw;
    margin-top: 4px;
    text-align: start;
    color: red;
    width: 100%;
}