.editarEventos{
    max-width: 500px;
    margin: 0 auto;
    padding: 5% 15%;
    text-align: center;
}
.contenedorMaximo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/backgroundImage.jpg');
    background-size: cover;
    filter: brightness(0.4);
    z-index: -1;
}
.campo-container{
    display: flex;
}
.campo-container #entradaEveNex{
    width: 80%;
    border: 1px solid rgb(175, 175, 175);
    margin-left: 4vw;
    margin-right: 2.5vw;
    margin-top: 2vh;
    border-radius: 5px;
    height: 36px;
}
.campo-container #entrada{
    margin-right: 2vw;
}
.botonEliminar{
    background-color: white;
    font-size: 1.6rem;
    border: none;
    margin-right: 3vw;
    margin-top: 3vh;
    cursor: pointer;
}

.botonEliminarv2{
    background-color: white;
    font-size: 1.6rem;
    border: none;
    margin-right: 3vw;
    margin-top: 2vh;
    cursor: pointer;
}

.entradasDatos{
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonGuardarEdit{
    background-color: rgb(255, 213, 30);
    padding: 10px 55px;
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 3vh;
    margin-top: 2vh;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
}
.botonGuardarEdit:hover{
    background-color: rgb(219, 179, 0) ;
}
.botonGuardarEdit:active{
    background-color: rgb(255, 213, 0);
}
.botonAgregarEdit{
    background-color: rgb(255, 213, 30);
    padding: 10px 15px;
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    margin-left: 9vw;
    margin-right: 9vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
}
.botonAgregarEdit:hover{
    background-color: rgb(219, 179, 0) ;
}
.botonAgregarEdit:active{
    background-color: rgb(255, 213, 0);
}
.advertenciaEdit{
    display: block;
    font-size: 0.75rem;
    margin-left: 5vw;
    margin-right: 4vw;
    margin-top: 4px;
    text-align: start;
    color: red;
    width: 100%;
}

.textoTituloEdiNext{
    font-size: 1.4rem;
    margin-top: 2vh;
    margin-bottom: 1vh;
}
.filaOrganizador{
    display: block;
    margin-top: 1vh;
}
#checkBoxIndividual{
    height: 15px;
    width: 15px;
    margin-right: 3px;
    transform: translateY(2px);
    
}
#checkBoxIndividual:checked{
    accent-color: blue;
}
#tituloIndividualAdd{
    margin-left: 4px;
}