.containerEvents{
    display: flex;
    justify-content: space-around;
    background-color: #f6f6f6;
    margin: 20px 0;
    min-height: 17vh;
    align-items: center;
    border-radius: 3rem;
    cursor: pointer;
}
.imageEvent{
    width: 5vw;
    height: auto;
    max-height: 12vh;
    margin: 1vh 0;
}
.containerEvents h4{
    font-size: 1.3rem;
    text-align: center;
}
.nombreEvento{
    width: 11vw;
}
.tipoEv{
    width: 11vw;
}

.filtro{
    display: none;
}