.registroEquipo{
    background-color: white;
    padding: 5%;
    width: 410px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.containerAll h1{
 text-align: center;
 color: white;
 font-size: 1.7rem;
 margin-bottom: 20px;    
}
.coach #input_registro_equipo{
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
	width: 93%;
    padding: 2%;
}
.camposCoach p{
    position: relative;
    font-size: 0.70rem;
    text-align: left;
    font-weight: bold;
    width: fit-content;
    margin-left: 1vw;
    margin-top: 4px;
    transform: translateY(9px);
    background-color: white;
}
.camposEquipo p{
    position: relative;
    font-size: 0.70rem;
    text-align: left;
    font-weight: bold;
    width: fit-content;
    margin-left: 1vw;
    margin-top: 4px;
    transform: translateY(9px);
    background-color: white;
}
.equipo #input_registro_equipo{
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
	width: 93%;
    padding: 2%;
}
.tituloEquipo{
    font-size: 1rem;
    margin-top: 10px;
}
input::placeholder{
    font-size: 0.8rem;
}
.reg_req{
    margin-top: 3vh;
}