.registroEquipo{
    background-color: white;
    padding: 5%;
    width: 410px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.containerAll h1{
 text-align: center;
 color: white;
 font-size: 1.7rem;
 margin-bottom: 20px;    
}
.containerForm{
    background-color: rgb(240, 240, 240);
}
.coach #input_registro_equipo{
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
	width: 93%;
    padding: 2%;
}
.equipo #input_registro_equi{
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
	width: 93%;
    padding: 2%;
}
.camposCoach p{
    position: relative;
    font-size: 0.70rem;
    text-align: left;
    font-weight: bold;
    width: fit-content;
    margin-left: 1vw;
    margin-top: 4px;
    transform: translateY(9px);
    background-color: white;
}
.camposEquipo p{
    position: relative;
    font-size: 0.70rem;
    text-align: left;
    font-weight: bold;
    width: fit-content;
    margin-left: 1vw;
    margin-top: 5px;
    transform: translateY(9px);
    background-color: white;
}
.coachName{
    margin-top: 15px;
    text-align: justify;
}

input::placeholder{
    font-size: 0.8rem;  
}

.reg_req{
    margin-top: 3vh;
}
.registro{
    padding-bottom: 20px;
}
.form_name{
    width: 80%;
}
#entrada-Formulario-Registro-Evento-Team{
    border: 1px solid rgb(175, 175, 175);
    margin-bottom: 0.5em;
    margin-top: 1.1em;
    border-radius: 5px;
    height: 36px;
    width: 350px;
    transition: border-color 0.3s;
    background-color: white;
}
.textoInfo{
    height: auto;
}
#botonRegistroRai{
    padding-left: 5px;
    width: 170px;
}
