.titulo-Formulario-Registro-Evento{
    max-width: 500px;
    font-size: 1.3em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 7px auto;
    text-align: center;
  }
  
  .containerForm .header{
    background-color: #14365C;
    padding: 5px 0;
    width: 100%;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .containerForm{
    width: 600px;
    min-height: 200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #D0CDCD;
    border-radius: 20px; 
  }
  
  .botonesContainer{
    margin-top: 12px;
    margin-left: 42px;
    display: flex;
  }
  
  .containerRequisito{
    width: 450px;
    min-height: 90px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: white;
    border-radius: 20px; 
    font-size: 15.5px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    padding: 16px;
  }
  
  .signoDePregunta{
    height: 32px;
    margin-top: 3px;
    margin-left: 5px;
  }
  
  .registro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: white; 
    border-radius: 20px;
    min-height: 10px;
    width: 450px;
    margin-bottom: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
  }
  
  #entrada-Formulario-Registro-Evento{
    border: 1px solid rgb(175, 175, 175);
    margin-bottom: 0.5em;
    margin-top: 1.1em;
    border-radius: 5px;
    height: 36px; 
    width: 370px;
    transition: border-color 0.3s; 
    background-color: white;
  }
  
  #entrada-Formulario-Registro-Evento:focus-within{
    border: 1px solid #054a99;
  }
  
  #textoCuadro{
    position: relative;
    font-size: 13.5px;
    text-align: left;
    font-weight: bold;
    width: fit-content;
    margin-left: 1vw;
    margin-top: 4px;
    transform: translateY(-12px);
    background-color: white;
    transition: color 0.3s;
  }
  
  #entrada-Formulario-Registro-Evento:focus-within #textoCuadro {
    color: #054a99;
  }
  
 .input-Formulario-Registro-Evento{
    font-size: 14px;
    margin: 3px;
    width: 95%;
    padding: 2px;
    transform: translateY(-12px);
    outline: none;
  }
  
  .errorMensaje {
    color: rgb(223, 20, 20);
    font-size: 0.8em;
    text-align: left;
  }
  
  .entradasDatos{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .signoDePregunta:hover {
    filter: brightness(85%);
  }

  .archivoZip{
    display: flex;
    background-color: white;
    width: 450px;
    min-height: 15px;
    margin-top: 15px;
    padding: 6px;
    color: black;
    font-weight: bold;
    border-radius: 8px; 
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
  }


  #nombreArchivo{
    font-weight: lighter;
  }

  .buttonInfo {
    position: relative; 
    background-color: #7D7D7D;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 30px; 
    height: 30px; 
    margin-top: 5px;
  }

  .textoInfo {
    opacity: 0;
    position: absolute;
    background-color: #EFEFEF;
    color: #14365C;
    padding: 20px;
    border-radius: 3px;
    transition: opacity 0.3s;
    border-radius: 20px;
    width: 260px;
    height: 50px;
    border: 1px solid #7D7D7D;
    z-index: 999;
  }

  .buttonInfo:hover .textoInfo {
    opacity: 1; 
  }