.containerLista{
    display: flex;
    margin-top: 2vh;
    background-color: #14365C;
    justify-content: space-around;
    color: #FFD51E;
    min-height: 6vh;
    align-items: center;
    font-size: 0.85rem;
}

.containerLista h1{
    text-align: center;
    padding-left: 1.5vw;
}   

.nombList{
    padding-left: 5vw;
    width: 11vw;
}
.tipoList{
    padding-left: 5vw;
    width: 11vw;
}

.imgList{
    padding-left: 1vw;
}

.rec{
    padding-left: 3vw;
}

.bajaEvento{
    padding-left: 5vw;
    width: 11vw;
}