.BotonRegistrar{
    background-color: rgb(255, 213, 30);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bolder;
    border: none;
    margin: 15px;
    cursor: pointer;
    font-size: 0.95rem;
}

.BotonRegistrar:hover {
    background-color: rgb(219, 179, 0);
}

.BotonRegistrar:active {
    background-color: rgb(255, 213, 0);
}

.BotonSalir{
    background-color: rgb(20, 54, 92);
    color: white;
    font-size: 1.8em;
    cursor: pointer;
    border-radius: 5px;
}
.BotonSalir:hover{
    background-color: rgb(28, 71, 124);
}
.BotonSalir:active {
    background-color: rgb(29, 76, 134);
}

.Overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-repeat: repeat-y;
}

.ContenedorModal{
    min-height: 200px;
    min-width: 300px;
    background: white;
    /* position: relative; */
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    
}
    
.EncabezadoModal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(20,54,92);
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
}
    
h1{
    font-size: large;
}
.tituloEvento{
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
}
.registroTipoEvento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: auto;

}
.inputEvento{
    border: 1px solid rgb(175, 175, 175);
    outline: none;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 0.85rem;
}

.span1Modal{
    font-size: 0.75rem;
    display: block;
    color: red;
    max-width: 180px;
    word-wrap: break-word;
}

.inputEvento[type="file"] {
    display: none;
}

.inputEvento-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 220px; 
    height: 150px; 
    border: 1px solid rgb(175, 175, 175); 
    border-radius: 8px;
    cursor: pointer;
    color:rgb(119, 119, 119);
    margin-left: auto;
    margin-right: auto;
}

.imagenSubida {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    cursor: pointer;
}

#textoCuadroAtributo{
    position: relative;
    font-size: 0.70rem;
    text-align: left;
    font-weight: bold;
    width: fit-content;
    margin-left: 1vw;
    margin-top: 4px;
    transform: translateY(26px);
    background-color: white;
}
#textoCuadroImg{
    position: relative;
    font-size: 0.70rem;
    text-align: left;
    font-weight: bold;
    width: fit-content;
    margin-left: 1vw;
    margin-top: 4px;
    transform: translateY(14px);
    background-color: white;
}