.contenedor{
    display: flex;

}
.contenedorNoricias h2{
    display: flex;
    font-family: 'Roboto';
    color: #f6f6f6;
    font-size: 2.1rem;
    background-color: #14365C;
    height: 50px;
    width: 23vw;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0 0px;
}
.noticias{
    width: 23vw;
    background-color: #f6f6f6;
    min-height: 30vh;
    border-radius: 0 0 50px 50px;
    text-align: center;
}