* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  .App-Register-Event{
    width: 100%;
    height: 100vh;
  }
  
  .title-Register-Event{
    max-width: 1050px;
    font-size: 2.3em;
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    margin: 30px auto;
    text-align: center;
  }
  
  .background-image-Register-Event{
    position: absolute;
    width: 100%;
    height: 100%;
    /* Fondo degradado */
    background: linear-gradient(to bottom, #072444 , white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  .content-Register-Event{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

