.registroTipoUsuario {
    background-color: white;
    color: black;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-inline: 16.5vw;
    margin-block: 3vw;
}
.registroUsuarioDinamico {
    background-color: white;
    color: black;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-inline: 27vw;
    margin-block: 3vw;
    width: 46vw;
}
#titulo-userPriv{
    font-size: 3vh;
}
.entradaDatos-userPriv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#entradaRol-user{
    border: 1px solid rgb(175, 175, 175);
    margin-top: 5vh;
    margin-bottom: 3vh;
    margin-inline: 18vw;
    border-radius: 6px;
    height: 33px;
}
#entrada-userPriv:focus-within {
    border: 2px solid #012da7;
    color: #012da7;
}
#entradaNom-user:focus-within {
    border: 2px solid #012da7;
    color: #012da7;
}
#entradaAp-user:focus-within {
    border: 2px solid #012da7;
    color: #012da7;
}
#entradaRol-user:focus-within {
    border: 2px solid #012da7;
    color: #012da7;
}
.listaAcciones h2{
    font-size: 1.02vw;
    margin-bottom: 1vw;
}
.listaAcciones{
    display: flex;
    width: 96%;
    margin-inline: 2%;
}
.accion {
  display: flex;
  align-items: center; 
}
.accion input[type="checkbox"] {
    margin-right: 0.7vw; 
}
.nombreCheck{
    font-size: 1vw;
    line-height: 1.9vw; 
    overflow: hidden;        
    text-overflow: ellipsis;
}
.eventos{
    width: 33.3%;
    padding: 1vw;
}
.administracion{
    width: 33.3%;
    padding: 1vw;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.reportes{
    width: 33.3%;
    padding: 1vw;
}
.form{
    width: 100%;
}
#entrada-userPriv{
    border: 1px solid rgb(175, 175, 175);
    margin-bottom: 1vh;
    margin-top: 3.4vh;
    margin-inline: 4vw;
    border-radius: 6px;
    width: 38vw;
    height: 35px;
}
.botonRegistrar-user{
    margin-block: 2vw;
}
.instruccion{
    margin-top: 2.2vw;
    margin-bottom: 1vw;
    font-size: 1vw;
    margin-left: 0vh;
}