body {
  margin: 0;
  font-family: 'Roboto', sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto',sans-serif,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid white;
}

thead,tfoot{
  background: #333;
  color: white;
}

th,td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even){
  background: #f2f2f2 ;
}
